html { 
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
	font-size: 14px;
	background-color: #818181;
  background-repeat: repeat-x;
  background-image: url(images/background.jpg);
	height: 100%;
	padding: 0px;
	border: 0px;
	margin: 0px;
/*   font-family: "Trebuchet MS", "Lucida Grande", "Calibri", "Arial", sans-serif; */
  font-family: Tahoma, "Helvetica Neue", "Trebuchet MS", Verdana, Arial, sans-serif;
}


div.logo {
background-position: left top;
background-repeat: no-repeat;
  position: relative;
  width: 780px;
  height: 94px;
  margin: 0px auto;
  padding: 0px;
  top: 0px;
  background-image: url('images/logo.jpg');
  background-color: #292929;
}

div.logo a {
    border: 0px;
    text-decoration: none;
  font-family: "Arial Narrow Bold", sans-serif;
  background-position: left top;
  background-repeat: no-repeat;  
}

div.logo a span {
    display: none;
}

div.logo a:hover {
    text-decoration: none;
    border: 0px;
}

div.logo a:active {
    text-decoration: none;
    border: 0px;
}

div.logo a:visited {
    text-decoration: none;
    border: 0px;
}

#home {
  background-image: url(images/navhome.png);
  height: 26px;
  width: 59px;
  position: absolute;
  top: 65px;
  left: 437px;
}

#examples {
  background-image: url(images/navexamples.png);
  height: 26px;
  width: 88px;
  position: absolute;
  top: 65px;
  left: 503px;
}

#docs {
  background-image: url(images/navdocs.png);
  height: 26px;
  width: 55px;
  position: absolute;
  top: 65px;
  left: 598px;
}

#download {
  background-image: url(images/navdownload.png);
  height: 26px;
  width: 89px;
  position: absolute;
  top: 65px;
  left: 660px;
}

#home:hover {
    background-image: url(images/navhomeover.png);
}

#examples:hover {
    background-image: url(images/navexamplesover.png);
}

#docs:hover {
    background-image: url(images/navdocsover.png);
}

#download:hover {
    background-image: url(images/navdownloadover.png);
}

#main {
	margin-bottom: 0px;
	min-height: 100%;
	top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	width: 780px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
}

#content {
    width: 780px;
    padding-top: 30px;
    padding-bottom: 16px;
}

div.jqPlot {
  font-size: 16px;
  margin: 2em auto 3em auto;
}

div.description {
    font-size: 15px;
    width: 660px;
    margin: 3em auto 1em auto;
    padding: 15px;
}

pre.prettyprint {
  font-family: "Andale Mono", monospace;
  font-size: 9pt;
  text-align: left;
  margin: auto;
  padding: 15px;
  width: 690px;
  background: #fffdf6;
}

div.nav {
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-top: 18px;
    width: 720px;
    margin: auto;
    text-align: right;
    font-size: 12px;
}

div.nav.top {
    padding: 0px;
    position: absolute;
    top: 18px;
    right: 20px;
}

div.nav a:link {
    text-decoration: none;
    border: 0px;
}

div.nav img {
    border: 0px;
    height: 24px;
    width: 24px;
}

#jspec, #jspec-top, #jspec-bottom {
  background: #FFF8EF;
  width: 720px;
  margin: 0 auto;
}

#jspec-top {
  border: 1px solid #888888;
  border-bottom: 0px;
}

#jspec {
  border: 1px solid #888888;
  color: #292929;
  border-top: 0px;
  border-bottom: 0px;
  padding-top: 5px;
}

#jspec-bottom {
  border: 1px solid #888888;
  border-top: 0px;
}

#jspec-report td + td {
  width: auto;
}

#jspec-report .heading {
  margin-top: 10px;
  margin-bottom: 0px;
}

#jspec-title {
  font-size: 18px;
  font-family: "Arial Narrow", "Trebuchet MS";
  width: auto;
  text-align: left;
  padding-left: 36px;
  top: 18px;
}